html,body {
    cursor: url(goodiris.png), auto;
    

background-color: rgb(90, 200, 210) ;
color:rgb(0, 0, 0);
font-size: 16;
}



.griffy {
    font-family: "griffy", system-ui, sans-serif  
    font-size: 20px;
    font-style: 400;   
}

.golly {
    font-family: "Londrina Outline", sans-serif;
    font-weight: 20;
    font-style: normal;
}
h1 {
    text-shadow: rgb(120, 120, 120) 5px 5px 5px;
    text-align: center;
}
a {
    cursor: url(openportalgate.png), auto;
}

.mycenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* or any other percentage */
    
    }

    html {
  scroll-behavior: smooth;


}

<link rel="stylesheet" href="styles/styles.css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #0d0d0d;
            color: #e0e0e0;
            font-family: 'Protest Strike', sans-serif;
            font-size: 16px;
            line-height: 1.8;
            padding-top: 60px;
        }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #0a0a0a;
            display: flex;
            justify-content: center;
            z-index: 9999;
            border-bottom: 2px solid #00aaff;
        }

        .navbar a {
            color: #00aaff;
            text-decoration: none;
            padding: 16px 32px;
            font-family: 'Audiowide', sans-serif;
            font-size: 13px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: background 0.2s, color 0.2s;
            cursor: pointer;
        }

        .navbar a:hover,
        .navbar a.active {
            background-color: #00aaff;
            color: #000;
        }
        .page {
            display: none;
            padding: 40px;
            max-width: 900px;
            margin: 0 auto;
        }

        .page.active {
            display: block;
        }

        h1 {
            font-family: 'Audiowide', sans-serif;
            color: #00aaff;
            font-size: 2rem;
            margin-bottom: 20px;
        }

        h2 {
            font-family: 'Audiowide', sans-serif;
            color: #00aaff;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 16px;
            color: #cccccc;
        }

        a {
            color: #00aaff;
        }

        img {
            max-width: 100%;
            margin: 16px 0;
        }

        iframe {
            margin: 20px 0;
            max-width: 100%;
        }


